---
import education from "../collections/education.json";
import certifications from "../collections/certifications.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <PageHeading
    title="About me"
    description="I'm a 23-year-old full-stack web developer from Barcelona, currently pursuing a higher education degree in Web Application Development (DAW) with a focus on bioinformatics. I’m passionate about both front-end design and functionality, always striving for clean and efficient code. As a highly motivated team player with an eye for detail, I thrive in collaborative environments and constantly seek to learn and implement new technologies to stay up to date in the fast-evolving tech world"
  />
  <br>
  <hr />
  <h2
    class="mt-2 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
  >
    Education
  </h2>
  <div class="px-5 py-10">
    {
      education.map((education, loop) => {
        return (
          <>
            {loop == 0 || loop == 1 ? (
              <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                <AboutExperience
                  dates={education.dates}
                  role={education.role}
                  company={education.company}
                  logo={education.logo}
                />
              </div>
            ) : (
              <AboutExperience
                dates={education.dates}
                role={education.role}
                company={education.company}
                logo={education.logo}
              />
            )}
          </>
        );
      })
    }
  </div>

  <hr />
    <h2
      class="mt-2 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Certificates
    </h2>
  <div class="px-5 pt-10">
    {
      certifications.map((certification, loop) => {
        return (
          <>
            <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
              <a href="https://www.credly.com/users/rafel-dalmau" target="_blank" rel="noopener noreferrer">
              <AboutExperience
                role={certification.certified}
                company={certification.company}
                logo={certification.logo}
              />
              </a>
            </div>
          </>
        );
      })
    }
  </div>


</section>
